body {
     padding: 50px 50px;
     background-color: rgb(255, 255, 255);
}
h1 {
     font-size: larger;
     color: black;
}
.container {
     width: 800px;
     height: 200px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 33px;
     background: linear-gradient(145deg, #e83838, #961616);
     box-shadow:  5px 5px 17px #b3b3b3,
                 -5px -5px 17px #ffffff;
}
.star {
     width: 75px;
     background-color: #b3b3b3;
     aspect-ratio: 1;
     clip-path: polygon(50% 0,
     calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))), 
     calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
     calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
     calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   ); 
}
.star-filled {
     width: 75px;
     background-color: #ffe600;
     aspect-ratio: 1;
     clip-path: polygon(50% 0,
     calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))), 
     calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
     calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
     calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   ); 
   transition: .5s;
}
.star:hover {
     background: #ffe600;
     transition: 0.5s ease-in-out;
}