body {
     background-color: rgb(29, 27, 27);
}

.ctn {
     width: 50%;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 10px
}
.box {
     width: 150px;
     height: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 50px;
     cursor: pointer;
}

.yellow {
     background-color: yellow;
}

.green {
     background-color: green;
}
